* {
  box-sizing: border-box;
}

.contact {
  padding: 20px;
}

.class {
  background-color: red;
}

footer {
  background-color: violet;
}

header {
  background-color: violet;
}

div {
  background-color: yellow;
  color: navy;
}

p {
  background-color: navy;
}

.box > .box1, .arrow > .box1 {
  color: red;
}
.box + .box2, .arrow + .box2 {
  color: blue;
}
.box.big, .big.arrow {
  font-weight: bold;
}

.content {
  font-size: 10px;
  font-weight: bold;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 39px;
}

.ads, .article {
  background-color: white;
  padding: 15px;
  border: 1px solid #ccc;
}

.ads, .article {
  font-size: 15px;
  color: yellow;
}

.article {
  transition: 3s;
}

.content > .box, .content > .arrow {
  padding: 15px;
}
.content > .box > .title, .content > .arrow > .title {
  font-size: 18px;
}
.content .cat {
  margin: 20px;
}
.content.premium:before {
  content: "premium box";
}
.content.premium:hover {
  background-color: #eee;
}

.class > .child {
  padding: 10px;
}

.class > .child {
  padding: 10px;
}

.class > .child {
  padding: 10px;
}

.parent + .sibling {
  margin: auto;
  margin-top: 10px;
}
.parent + .sibling ~ .last {
  padding: 10px;
}

.my-class, .box, .arrow {
  background-color: white;
  padding: 20px;
}

.my-class, .box, .arrow {
  border: 1px solid #ccc;
}

.my-class, .box, .arrow {
  font-weight: bold;
  margin: 20px auto;
}

.box h2, .arrow h2, .box p, .arrow p {
  font-size: 50px;
}
@media (max-width: 575px) {
  .box h2, .arrow h2, .box p, .arrow p {
    font-size: 50px;
  }
  .box h2 span, .arrow h2 span, .box p span, .arrow p span {
    font-weight: bold;
  }
}
.box a, .arrow a {
  color: #009688;
}
.box a:hover, .arrow a:hover {
  color: #e91e63;
}

.box, .arrow {
  font-size: 3rem;
}
.box-holder {
  width: 1000px;
}
.box-holder-content {
  margin: auto;
}

page {
  background-color: white;
  color: #444;
}

.box, .arrow {
  border-radius: 6px;
}

.arrow {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  position: relative;
}
.arrow::before {
  content: "";
  position: absolute;
  border: 20px solid transparent;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  border-top-color: red;
}

.ad-falcon {
  background-image: url("/imgs/falcon.png");
}

.school {
  padding: 20px;
  direction: ltr;
  margin-left: 20px;
}
.school .school-box {
  padding: 10px;
}
.school:hover .school-box {
  background-color: #eee;
}

.class {
  color: blue;
}

.classy {
  color: lime;
}

.boxy {
  background-color: #009688;
  text-align: center;
}

.r1Test {
  rotate: 1turn;
  display: flex;
  place-content: center;
}

.circle-1 {
  border-radius: 50%;
}

.circle-2 {
  border-radius: 50%;
}

.circle-3 {
  border-radius: 50%;
}

.circle-4 {
  border-radius: 50%;
}

.circle-5 {
  border-radius: 50%;
}

.circle-6 {
  border-radius: 50%;
}

.circle-7 {
  border-radius: 50%;
}

.circle-8 {
  border-radius: 50%;
}

.circle-9 {
  border-radius: 50%;
}

.circle-100 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.circle-200 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.circle-300 {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.circle-400 {
  width: 400px;
  height: 400px;
  border-radius: 50%;
}

.circle-500 {
  width: 500px;
  height: 500px;
  border-radius: 50%;
}

.circle-600 {
  width: 600px;
  height: 600px;
  border-radius: 50%;
}

.circle-700 {
  width: 700px;
  height: 700px;
  border-radius: 50%;
}

.circle-800 {
  width: 800px;
  height: 800px;
  border-radius: 50%;
}

.circle-900 {
  width: 900px;
  height: 900px;
  border-radius: 50%;
}

.circle-1000 {
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
}

.red {
  background-color: white;
  color: red;
}

.blue {
  background-color: white;
  color: blue;
}

.yellow {
  background-color: white;
  color: yellow;
}

#faceboss {
  background-color: blue;
  position: relative;
}
#faceboss::before {
  content: "faceboss";
}

#youtyone {
  background-color: red;
  position: relative;
}
#youtyone::before {
  content: "youtyone";
}

#twizzer {
  background-color: violet;
  position: relative;
}
#twizzer::before {
  content: "twizzer";
}

.box-width-1 {
  width: 100px;
  width: 50px;
}

.box-width-2 {
  width: 200px;
  width: 100px;
}

.box-width-3 {
  width: 300px;
  width: 150px;
}

.box-width-4 {
  width: 400px;
  width: 200px;
}

.box-width-5 {
  width: 500px;
  width: 250px;
}

.box-width-6 {
  width: 600px;
  width: 300px;
}

.box-width-7 {
  width: 700px;
  width: 350px;
}

.box-width-8 {
  width: 800px;
  width: 400px;
}

.box-width-9 {
  width: 900px;
  width: 450px;
}

.box-width-10 {
  width: 1000px;
  width: 500px;
}

.element:before {
  content: "";
  position: absolute;
  border: 20px solid transparent;
  left: 50%;
  transform: translateX(-50%);
  top: -40px;
  border-bottom-color: gainsboro;
}

.col-1 {
  width: 6.25 "%";
}

.col-2 {
  width: 12.5 "%";
}

.col-3 {
  width: 18.75 "%";
}

.col-4 {
  width: 25 "%";
}

.col-5 {
  width: 31.25 "%";
}

.col-6 {
  width: 37.5 "%";
}

.col-7 {
  width: 43.75 "%";
}

.col-8 {
  width: 50 "%";
}

.col-9 {
  width: 56.25 "%";
}

.col-10 {
  width: 62.5 "%";
}

.col-11 {
  width: 68.75 "%";
}

.col-12 {
  width: 75 "%";
}

.col-13 {
  width: 81.25 "%";
}

.col-14 {
  width: 87.5 "%";
}

.col-15 {
  width: 93.75 "%";
}

.col-16 {
  width: 100 "%";
}

.books {
  padding: 20px;
  font-size: 18;
  border-bottom: 2px solid red;
  color: #444;
}

.games {
  padding: 30px;
  font-size: 18;
  border-bottom: 2px solid green;
  color: #444;
}

.dvds {
  padding: 20px;
  font-size: 16;
  border-bottom: 2px solid blue;
  color: #444;
}

.triangle-100 {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.triangle-200 {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.triangle-300 {
  width: 300px;
  height: 300px;
  border-radius: 150px;
}

.triangle-400 {
  width: 400px;
  height: 400px;
  border-radius: 200px;
}

.triangle-500 {
  width: 500px;
  height: 500px;
  border-radius: 250px;
}

.box-one {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}/*# sourceMappingURL=main.css.map */